.webkit-view-hint
{
    z-index: 2147483647;
    position:fixed !important;
    opacity: 0.7;
    border:1px solid #444;
    color: red;
    background-color: yellow;
    font-family: monospace;
    font: bold .8em monospace;
    font-size: 2em;
    margin:0;
    padding:0px 1px;
}
