*[webkitviewhint^='hint']
{
    all: initial !important;
    z-index: 2147483647;
    position:fixed !important;
    opacity: 0.7;
    border:1px solid #444;
    color: red;
    background-color: yellow;
    font: bold 20px monospace;
    margin: 0;
    padding: 0px 1px;
}
